@import '../../styles/variables'

.cart
  display: flex
  flex-direction: row
  justify-content: space-evenly
  background: $primary-bg-color
  width: 476px
  height: 81px
  align-items: center
  margin: 0 auto





