@import '../../../styles/variables'
.cartMenu
  display: grid
  grid-template-columns: 1fr 2fr 2fr
  align-items: center
  h1
    font-size: 24px
    font-weight: 700
    line-height: 36px
    text-align: center
  button
    background: none
    border: none
    cursor: pointer
    width: 30px
    height: 30px
  .orderButton
    color: white
    width: 154px
    height: 54px
    border-radius: 15px
    background: $secondary-bg-color
    border: none
    font-size: 20px
    font-weight: 700
    line-height: 30px
    text-align: center
    cursor: pointer