@import '../../../styles/variables'

.product
  background-color: $primary-bg-color
  width: 243px
  height: 303px
  margin: 25px 0 20px 0

.productDescr
    padding: 10px 15px
    font-size: 14px
    text-align: center


