// Define your variables first
@import "../../styles/variables"

.productList
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    position: relative

.productImg
  position: absolute
  max-width: 192.48px
  max-height: 120px
  left: 45%

