@import 'styles/variables';
@import 'styles/mixins';

body {

  font-family: $font-stack;
  align-items: center;
  margin: 0 auto;
  text-align: center;


  @include respond-to(desktop) {
    width: 85%;
  }

  @include respond-to(tablet) {
    width: 90%;
  }

  @include respond-to(phone) {
    width: 100%;
  }


  overflow: visible;
  position: relative;

  background: #FFFFFF;
  border-radius: 30px;
}
